p{
    font-size: 18px;
    color: #7D7987;
    margin-top: 3rem;
}
h2{
    font-size: 35px;
}
hr {
    width: 5%;  
    border: none; 
    height: 2px;  
    background-color: black; 
    margin: 10px 0;
  }