@media screen and (width <= 600px){
    img{
        display: none;
    }
    app-desc-virtual-hearth{
        padding-right: 0;
    }
}
@media screen and (width > 600px){
    img{
        width: 693px;
        height: 598px;
    }
    app-desc-virtual-hearth{
        padding-left: 0rem;
    }
}

