app-profil-com{
    display: flex;
    text-align: left;
    align-items: center;
}

@media screen and (width <= 600px){
    app-profil-com{
        display: block;
        text-align: center;
    }
    
    hr{
        border: solid rgb(255, 255, 255) 1px;
        width: 80px;
        border-radius: 1px;
        margin-bottom: 3rem;
    }
}

@media screen and (width > 600px){
    hr{
        border: solid rgb(255, 255, 255) 2px;
        width: 56px;
        border-radius: 1px;
    }
}