@media screen and (width > 600px){
    app-profil{
        display: flex;
        width: 100%;
        align-items: center;
        
    }
    p{
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
        letter-spacing: 0%;
        margin-left: 25%;
    }
}
@media screen and (width <= 600px) {
    app-profil{
        display: block;
    }

    p{
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 0%;
    }
}